.msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #cbd5e1;
}

.inline-link {
    color: #99a0a9;
    text-decoration: underline;
    cursor: pointer;
}

.inline-link:hover {
    color: #bac3ce;
    text-decoration: underline;
    cursor: pointer;
}