input, select {
    width: 100%;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #374151;
    background: #111827;
    color: #fff;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(3px);
  z-index: 998;
}

.modal-container {
  position: fixed;
  z-index: 999;

  /* PC-n középen popup */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #1e293b;
  color: white;
  width: 90%;
  max-width: 600px;
  max-height: 85vh;
  overflow-y: auto;

  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 0 40px rgba(0,0,0,0.4);
}

/* Mobilon teljes képernyő */
@media (max-width: 768px) {
  .modal-container {
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100vh;
    max-height: none;
    border-radius: 0;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background: transparent;
  color: white;
  border: none;
  font-size: 26px;
  cursor: pointer;
}

.tab-icon {
  width: 18px;
  height: 18px;
}

.error {
    color: #f87171;
}