.toast {
    background-color: #0f172a !important;
    color: white !important;
    border-radius: 8px !important;
    animation: fade 0.2s linear;
}

.toast-body {
    white-space: pre-line;
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}